nextflow.enable.moduleBinaries = true

params {
    help = false
    input = false
    dicom = false
    bids = false
    
    // ** Output Options ** //
    output_dir = "./results"
}

includeConfig "modules/local/dcm2bids/nextflow.config"
includeConfig "modules/local/meld/nextflow.config"
includeConfig "modules/local/pdf2dcm/nextflow.config"

process {
    publishDir = [path: {"${params.output_dir}/$meta.id/${task.process.split(':')[-1]}"}, mode: 'copy']
    scratch = true
    errorStrategy = 'terminate'
    maxRetries = 1
    maxErrors = -1
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    cache = 'lenient'
}


profiles {
    use_gpu {
        apptainer.runOptions = '--nv'
        singularity.runOptions = '--nv'
        docker.runOptions = '-v /var/run/docker.sock:/var/run/docker.sock --entrypoint "" --gpus all --rm --user $(id -u):$(id -g) --network host'
    }
    slurm {
        process {
            executor = 'slurm'
            errorStrategy = 'retry'
            maxRetries = 1
            maxForks = 500
        }
        executor {
            pollInterval = '180 sec'
            queueGlobalStatus = true
            queueStatInterval = '3 min'
            submitRateLimit = '100/1min'
            queueSize = 500
        }
    }
    docker {
        docker.runOptions = '-v /var/run/docker.sock:/var/run/docker.sock --user $(id -u):$(id -g) --entrypoint ""'
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    singularity {
        singularity.enabled       = true
        singularity.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        apptainer.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
}

manifest {
    name = 'MeldFlow'
    description = 'Meld wrapper in Nextflow'
    version = '0.1-edge'
    homePage = 'https://github.com/Onset-lab/meld-orthanc'
}